{% extends "AdminMaster.html" %}
    {% block css %}

{% load staticfiles %}
    <link href="{% static 'css/corps_listing_NomCours.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock %}


   {% block title %}Admin | Enregistrement Nom Cours{% endblock %}


    {% block content-title %}
<h2>Formulaire d'enregistrement de Description  Cours</h2>

    {% endblock %}

 {% block content %}



  <div id="listing-content">


<form id="form-enr"  action="{% url 'gestionCours:admin_enregistrer_Cours' %}" method="post">

<fieldset id="field-enr">
{% csrf_token %}
{{ adminCours.as_p }}
 <input class="sub" type="submit" value="Inserer">
</fieldset>
</form>

<p> {{reponse}}</p>





        </div>


    {% endblock %}


