{% extends "AdminMaster.html" %}
    {% block css %}

{% load staticfiles %}
    <link href="{% static 'css/corps_listing_etablissement.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock %}


   {% block title %}Admin | listing Nom Cours {% endblock %}


    {% block content-title %}
<h2>   List des Nom Cours </h2>

    {% endblock %}

 {% block content %}




  <div id="listing-content">




   <div id="tableW" >
 <table class='tableH'  align='center'>
<tr >
<th  class='tablehead'>ID</th>
<th  class='tablehead'>Domaine</th>
<th  class='tablehead'>Mention</th>
<th  class='tablehead'>Specialite</th>
<th  class='tablehead'>Type Cours</th>
<th  class='tablehead'>Langue</th>
</tr>





        {% for item in item_list %}





		 {% if forloop.counter|divisibleby:"2" %}

		   <tr >
            <td class='c10'>{{ item.id }}</td>
		   <td class='c1'>{{ item.Domaine }}</td>
          <td class='c12'>{{ item.Mention }}</td>
          <td class='c12'>{{ item.Specialite }}</td>
          <td class='c12'>{{ item.TypeCours }}</td>
          <td class='c12'>{{ item.Langue }}</td>

		   {% else  %}
		    <tr >
            <td class='c20'>{{ item.id }}</td>
		   <td class='c2'>{{ item.Domaine }}</td>
          <td class='c22'>{{ item.Mention }}</td>
          <td class='c22'>{{ item.Specialite }}</td>
          <td class='c22'>{{ item.TypeCours }}</td>
          <td class='c22'>{{ item.Langue }}</td>


             </tr>
            {% endif %}


        {% empty %}
            <P>Pas de Programme</P>
        {% endfor %}

	   	  </table>

	   </div>







        </div>


    {% endblock %}


