{% extends "AdminMaster.html" %}
    {% block css %}

{% load staticfiles %}
    <link href="{% static 'css/corps_listing_etablissement.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock %}


   {% block title %}Modification | Programme {% endblock %}


    {% block content-title %}
     <h2> Modification Programme</h2>

    {% endblock %}

 {% block content %}




  <div id="listing-content">


      <div>
   <form action="{% url 'gestionCours:admin_modification_Programme_getInfo' %}" method="get">
<label>Selectionner  pour modifier:</label>
  <select name="ids">
      {% for item in item_list %}
      <option value="{{item.id}}">{{item.Domaine}}-{{item.Mention}}-{{item.Specialite}}-{{item.TypeCours}}-{{item.Langue}}</option>
        {% empty %}
            <P>Pas d'etablissement</P>
        {% endfor %}


</select>
 <input type="submit" value="Chercher">

</form>





<div>

       {% if Et2 %}

  <form id="update-form" action="{% url 'gestionCours:admin_modification_Programme_Update' %}" method="get">
     <fieldset id="update-principal">
    <h4>Programme a modifier:</h4>
       <p>Programme :{{Et2.Domaine}}-{{Et2.Mention}}-{{Et2.Specialite}}-{{Et2.TypeCours}}-{{Et2.Langue}}</p>

  <fieldset id="update-field">
      <label for="Domaine" id="lab1">Domaine :</label><select class="select_NC" name="Domaine">
      <option value="ST">S&T-Science et Technologie</option>
      <option value="E&G">E&G-Economie et Gestion</option>

</select><br>
<label for="Mention" id="lab1">Mention :</label><select class="select_NC" name="Mention">
      <option value="SI">SI-Science Informatique</option>
      <option value="E&G">E&G-Economie et Gestion</option>

</select><br>


 <label for="Specialite" id="lab2">Specialite :</label><select class="select_NC" name="Specialite">
    <option value="TEL">TEL-Telecommication</option>
     <option value="BDD">BDD-Base de donnees</option>
     <option value="ONE">ONE-Organisation de la Net Economie</option>
     <option value="SdE">SdE-Science de l'Entreprise</option>
     <option value="SC">SC-Science Compatable</option>
     <option value="S2">S2</option>
     <option value="Y">Y</option>
</select><br>

<label for="Type" id="lab1">Type Cours :</label><select class="select_NC" name="Type">
      <option value="Ob">Ob-Obligatoire</option>
      <option value="Op">Op-Optionnel</option>

</select><br>

<label for="Langue" id="lab1">Langue :</label><select class="select_NC" name="Langue">
      <option value="Creole">Creole</option>
      <option value="Francais">Francais</option>
      <option value="Anglais">Anglais</option>

</select><br>

        <button type="submit" name="id" value="{{Et2.id}}" >Modifier</button>
        <button type="submit" name="annuler" value="annuler" >Annuler</button>
   </fieldset>


         </fieldset>
</form>

        {% else %}

        {% endif %}

<p>{{succes}}</p>
    </div>




</div>

<div>

</div>




        </div>


    {% endblock %}


