{% extends "AdminMaster.html" %}
    {% block css %}

{% load staticfiles %}
    <link href="{% static 'css/corps_listing_etablissement.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock %}


   {% block title %}Admin | Enregistrement Etablissement{% endblock %}


    {% block content-title %}
 Supression d'etablissements

    {% endblock %}
         {% block workon %} {% endblock %}

    {% block upbouton %} {% endblock %}

 {% block content %}









      <div>
   <form action="{% url 'gestionCours:admin_supression_NomCours_getInfo' %}" method="get">
<label>Selectionner  a supprimer:</label>
  <select name="ids">
      {% for item in item_list %}
      <option value="{{item.id}}">{{item.CodeEtablissement.Nom}}-{{item.Grade}}{{item.Semestre}}-{{item.Nom}}</option>
        {% empty %}
            <P>Pas d'etablissement</P>
        {% endfor %}


</select>
 <input type="submit" value="Chercher">

</form>

    <div>

       {% if Et2 %}

        <form action="{% url 'gestionCours:admin_supression_NomCours_Update' %}" method="get">
   <h4>Nom Cours a modifier:</h4>
       <p>Nom Cours :{{Et2.CodeEtablissement.Nom}}-{{Et2.Grade}}{{Et2.Semestre}}-{{Et2.Nom}}</p>


        <button type="submit" name="id" value="{{Et2.id}}" >Supprimer</button>
        <button type="submit" name="annuler" value="annuler" >Annuler</button>


</form>

        {% else %}

        {% endif %}

<p>{{succes}}</p>
    </div>



</div>

<div>

</div>






    {% endblock %}


