{% extends "AdminMaster.html" %}
    {% block css %}

{% load staticfiles %}
    <link href="{% static 'css/corps_listing_etablissement.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock %}


   {% block title %}Admin |Supression Cours{% endblock %}


    {% block content-title %}
<h2>   Supression Cours </h2>

    {% endblock %}

 {% block content %}




     <div id="listing-content">




      <div>
   <form action="{% url 'gestionCours:admin_supression_Cours_getInfo' %}" method="get">
<label>Selectionner  a supprimer:</label>
  <select name="ids">
      {% for item in item_list %}
      <option value="{{item.id}}">{{item.Titre}}</option>
        {% empty %}
            <P>Pas cours</P>
        {% endfor %}


</select>
 <input type="submit" value="Chercher">

</form>

    <div>

       {% if Et2 %}

        <form action="{% url 'gestionCours:admin_supression_Cours_Update' %}" method="get">
   <h4>Cours a modifier:</h4>
       <p>Titre Cours :{{Et2.Titre}}</p>


        <button type="submit" name="id" value="{{Et2.id}}" >Supprimer</button>
        <button type="submit" name="annuler" value="annuler" >Annuler</button>


</form>

        {% else %}

        {% endif %}

<p>{{succes}}</p>
    </div>



</div>

<div>

</div>




        </div>


    {% endblock %}


