<html>
	<head>
		
		<link rel="stylesheet" href="cours.css" />
		<title>ESIH- cours...</title>
	</head>
	<body>
		<div id="pagecours">

		
			<div id="entete">
			<table>
			 <tr>
				<td>
				<p>Accueil</p>
				</td>
				<td>
				<p>Annuaire</p>
				</td>
				<td>
				<input type="texte" name="recherche"/>
				</td>
				<td id="icon">	
				<img src="icon_search.gif"/>
				
				</td>
			 </tr>
			</table>
				<div id="logo">
					<img src="logo_esih.png"/>
				</div>
				<h2>Ecole Supérieure d'Infotronique d'Haïti</h2>
			</div>
			
				<div id="sentete">
				<table>
						<tr>
							<td>
						<a href="#">Accueil</a>
							
						</td>
						<td>				
						<a href="#">Cours</a>
						</td>
						<td>				
						<a href="#">Contact</a>
						</td>
						
						
						</tr>
				</table>
				</div>
				<div id="corps">
				
				
				<div id="bandetab">
	<h3>Cours</h3>
	</div>
	<div id="corpstb">
	
	</div>
	
	
				</div>
				<div id="foot"></div>
			
			
		</div>
	</body>

</html>